In [1]:
import pandas as pd

In [2]:
cases_per_month = pd.read_csv(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\08_CEJ_Web\data_cleaned\Cases_Per_Month_Output.csv")

In [3]:
cases_per_month

,Unnamed: 0,Judge,Cases,Source,Document Index,Monthwise Cases,Cases/mth
0,0,ADOLFO CORNEJO POLANCO,"['00637-2018-0-2802-JR-LA-01', '00270-2018-0-2...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[783082, 783087], [775182, 775184], [774515],...","{'01': 2, '02': 0, '03': 3, '04': 5, '05': 36,...",5.500000
1,1,ALEJANDRO PAUCAR FELIX,"['00297-2017-0-1408-JR-LA-01', '00062-2017-0-1...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [50693], [''], [559283, 559...","{'01': 50, '02': 21, '03': 11, '04': 2, '05': ...",7.333333
2,2,ALFARO SOTOMAYOR JOSE LUIS,"['00072-2019-23-1703-JR-LA-01', '00001-2017-0-...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [''], [''], [''], [694578],...","{'01': 45, '02': 7, '03': 10, '04': 4, '05': 3...",6.500000
3,3,ALFREDO CUIPA PINEDO,"['00093-2019-0-2501-JR-LA-02', '00255-2019-0-2...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[1267530, 1267531, 1267532, 1267533, 1267534,...","{'01': 31, '02': 5, '03': 0, '04': 0, '05': 0,...",3.166667
4,4,"ALIAGA RENGIFO, JOSE RONALD","['00016-2018-0-0901-JR-LA-01', '00018-2018-0-0...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [''], [731857], [''], [''],...","{'01': 17, '02': 2, '03': 0, '04': 0, '05': 0,...",1.916667
...,...,...,...,...,...,...,...
1809,1809,ZUMARAN ALFARO DALIA BLANCA,"['00326-2018-0-1101-JP-CI-01', '00075-2018-0-1...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 45, '02': 12, '03': 15, '04': 7, '05': ...",7.416667
1810,1810,ZUÑIGA PORTOCARRERO LINO,"['00005-2017-0-0412-JR-CI-01', '00009-2017-0-0...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 28, '02': 0, '03': 0, '04': 0, '05': 0,...",2.416667
1811,1811,ZUÑIGA RUIZ NEYSSY,"['00001-2017-0-2602-JP-CI-01', '00002-2017-0-2...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 11, '02': 6, '03': 2, '04': 1, '05': 1,...",3.916667
1812,1812,ZUÑIGA VALLEJOS JULIO CESAR,"['00001-2017-0-2601-JP-LA-01', '00002-2017-0-2...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 230, '02': 26, '03': 67, '04': 1, '05':...",27.083333
1813,1813,ÑAUPA CHACALTANA CARLOS JAVIER,"['00006-2020-0-0503-JP-CI-01', '00001-2020-0-0...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 3, '02': 1, '03': 5, '04': 2, '05': 0, ...",2.500000

In [4]:
cases_appealed = pd.read_csv(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\08_CEJ_Web\data_cleaned\Cases_Appealed&Reversed_Output.csv")

In [5]:
cases_appealed

,Judge,Cases,Source,Document Index,Appeals,No. of Appeals,No. of Cases,Cases Appealed,Fraction of Cases Appealed,Reversals,No. of Reversals,Fraction of Cases Reversed
0,ADOLFO CORNEJO POLANCO,"['00637-2018-0-2802-JR-LA-01', '00270-2018-0-2...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[783082, 783087], [775182, 775184], [774515],...",{},0,66,[],0.000000,{},0,0.000000
1,ALEJANDRO PAUCAR FELIX,"['00297-2017-0-1408-JR-LA-01', '00062-2017-0-1...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [50693], [''], [559283, 559...","{'00057-2019-0-1408-JR-LA-01': 1, '00055-2019-...",4,88,[],0.045455,{},0,0.000000
2,ALFARO SOTOMAYOR JOSE LUIS,"['00072-2019-23-1703-JR-LA-01', '00001-2017-0-...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [''], [''], [''], [694578],...",{},0,78,[],0.000000,{},0,0.000000
3,ALFREDO CUIPA PINEDO,"['00093-2019-0-2501-JR-LA-02', '00255-2019-0-2...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[1267530, 1267531, 1267532, 1267533, 1267534,...","{'00093-2019-0-2501-JR-LA-02': 1, '00051-2019-...",9,38,[],0.236842,"{'00093-2019-0-2501-JR-LA-02': 1, '00031-2019-...",4,0.105263
4,"ALIAGA RENGIFO, JOSE RONALD","['00016-2018-0-0901-JR-LA-01', '00018-2018-0-0...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [''], [731857], [''], [''],...",{},0,23,[],0.000000,{},0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1809,ZUMARAN ALFARO DALIA BLANCA,"['00326-2018-0-1101-JP-CI-01', '00075-2018-0-1...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],{},0,89,[],0.000000,{},0,0.000000
1810,ZUÑIGA PORTOCARRERO LINO,"['00005-2017-0-0412-JR-CI-01', '00009-2017-0-0...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],{},0,29,[],0.000000,{},0,0.000000
1811,ZUÑIGA RUIZ NEYSSY,"['00001-2017-0-2602-JP-CI-01', '00002-2017-0-2...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],{},0,47,[],0.000000,{},0,0.000000
1812,ZUÑIGA VALLEJOS JULIO CESAR,"['00001-2017-0-2601-JP-LA-01', '00002-2017-0-2...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'00003-2019-0-2601-JP-LA-01': 5, '00011-2019-...",28,325,[],0.086154,{'00053-2021-0-2601-JP-LA-01': 1},1,0.003077
1813,ÑAUPA CHACALTANA CARLOS JAVIER,"['00006-2020-0-0503-JP-CI-01', '00001-2020-0-0...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],{},0,30,[],0.000000,{},0,0.000000

In [2]:
import pandas as pd

lab_data = pd.read_stata(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\08_CEJ_Web\data_cleaned\lab_data\Clean_Full_Data12.dta")
lab_data

,en_participant_index_in_pages,en_participant_current_app_name,en_participant_current_page_name,en_participant_time_started,en_participant_payoff,DNI,en_survey_qvsr1playerqvsr_4,en_survey_qvsr1playerqvsr_8,en_survey_qvsr1playerqvsr_6,en_survey_qvsr1playerqvsr_5,...,bs_redistribute_partner_merge_a,bs_redistribute_partner_cargo_b,bs_redistribute_partner_gender_b,bs_redistribute_partner_merge_b,en_redistribute_partner_cargo_a,en_redistribute_partner_gender_a,en_redistribute_partner_merge_a,en_redistribute_partner_cargo_b,en_redistribute_partner_gender_b,en_redistribute_partner_merge_b
0,23.0,trolley,TaskTrDecision,2021-07-10 20:30:59.128002+00:00,0.0,45412719.0,1.0,1.0,1.0,1.0,...,master only (1),,,master only (1),FISCAL,Masculino,matched (3),FISCAL,Masculino,matched (3)
1,40.0,prize,ThankYou,2021-07-03 15:29:21.935573+00:00,10.0,41437497.0,2.0,1.0,2.0,2.0,...,matched (3),FISCAL,Femenino,matched (3),AUX,Masculino,matched (3),FISCAL,Masculino,matched (3)
2,8.0,ultimatum,Think,2021-07-13 23:26:13.760730+00:00,0.0,40070874.0,1.0,-1.0,2.0,2.0,...,master only (1),,,master only (1),ASIS,Femenino,matched (3),ASIS,Femenino,matched (3)
3,9.0,ultimatum,Respond,2021-07-12 05:47:12.812443+00:00,0.0,17858959.0,1.0,1.0,1.0,1.0,...,matched (3),AUX,Masculino,matched (3),FISCAL,Masculino,matched (3),FISCAL,Masculino,matched (3)
4,40.0,prize,ThankYou,2021-07-14 15:22:03.809367+00:00,5.0,42998385.0,1.0,1.0,1.0,1.0,...,master only (1),,,master only (1),FISCAL,Femenino,matched (3),FISCAL,Masculino,matched (3)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7059,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,AUX,Femenino,using only (2)
7060,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,FISCAL,Masculino,using only (2)
7061,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,JUEZ,Masculino,using only (2)
7062,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,FISCAL,Masculino,using only (2)
7063,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,FISCAL,Femenino,using only (2)

In [3]:
print("Columns in the DataFrame:")
print(lab_data.columns.tolist())

Columns in the DataFrame:
['en_participant_index_in_pages', 'en_participant_current_app_name', 'en_participant_current_page_name', 'en_participant_time_started', 'en_participant_payoff', 'DNI', 'en_survey_qvsr1playerqvsr_4', 'en_survey_qvsr1playerqvsr_8', 'en_survey_qvsr1playerqvsr_6', 'en_survey_qvsr1playerqvsr_5', 'en_survey_qvsr1playerqvsr_11', 'en_survey_qvsr1playerqvsr_12', 'en_survey_qvsr1playerqvsr_13', 'en_survey_qvsr1playerqvsr_14', 'en_survey_qvsr1playerqvsr_9', 'en_survey_qvsr1playerqvsr_10', 'en_survey_qvsr1playerqvsr_1', 'en_survey_qvsr1playerqvsr_7', 'en_survey_qvsr1playerqvsr_3', 'en_survey_qvsr1playerqvsr_2', 'en_redistribute_partner_dni_a', 'en_redistribute_partner_dni_b', 'en_redistribute_partner_name_a', 'en_redistribute_partner_name_b', 'en_redistribute_player_decision', 'en_games_solo1playerpayoff', 'en_dictator_partner_dni', 'en_dictator_partner_name', 'en_dictator_player_decision', 'en_dictator_player_payoff', 'en_redistribute_knows_partner_a', 'en_redistribute_knows_partner_b', 'en_dictator_knows_partner', 'en_trolley_treat', 'en_trolley_decision', 'en_iat_version', 'en_iat_score', 'en_iat_feedback_descriptive', 'en_iat_player_skipped', 'en_iat_show_feedback', 'en_iat_want_feedback', 'en_iat_feedback_level', 'en_motivated_approvguess', 'en_motivated_approvconfiden', 'en_motivated_damage', 'en_motivated_damage_lob', 'en_motivated_damage_upb', 'en_motivated_newsh', 'en_motivated_fakenews', 'en_motivated_decision', 'en_motivated_click_arga', 'en_motivated_click_argb', 'en_motivated_info', 'en_participant_book_choice', 'randomly_reveal', 'en_participant_merge', 'bs_participant_index_in_pages', 'bs_participant_current_app_name', 'bs_participant_current_page_name', 'bs_participant_time_started', 'bs_participant_payoff', 'bs_survey_qvsr1playerqvsr_4', 'bs_survey_qvsr1playerqvsr_14', 'bs_survey_qvsr1playerqvsr_5', 'bs_survey_qvsr1playerqvsr_2', 'bs_survey_qvsr1playerqvsr_12', 'bs_survey_qvsr1playerqvsr_15', 'bs_survey_qvsr1playerqvsr_8', 'bs_survey_qvsr1playerqvsr_1', 'bs_survey_qvsr1playerqvsr_10', 'bs_survey_qvsr1playerqvsr_9', 'bs_survey_qvsr1playerqvsr_3', 'bs_survey_qvsr1playerqvsr_6', 'bs_survey_qvsr1playerqvsr_13', 'bs_survey_qvsr1playerqvsr_7', 'bs_survey_qvsr1playerqvsr_11', 'bs_redistribute_partner_dni_a', 'bs_redistribute_partner_dni_b', 'bs_redistribute_partner_name_a', 'bs_redistribute_partner_name_b', 'bs_redistribute_player_decision', 'bs_games_solo1playerpayoff', 'bs_dictator_partner_dni', 'bs_dictator_partner_name', 'bs_dictator_player_decision', 'bs_dictator_player_payoff', 'bs_redistribute_knows_partner_a', 'bs_redistribute_knows_partner_b', 'bs_dictator_knows_partner', 'bs_die_roll_decision', 'bs_die_roll_player_roll_value', 'bs_die_roll_player_payoff', 'bs_trolley_playeris_men', 'bs_trolley_playeris_footbridge', 'bs_trolley_decision', 'bs_iat_version', 'bs_iat_score', 'bs_iat_feedback_descriptive', 'bs_iat_player_skipped', 'bs_iat_show_feedback', 'bs_iat_want_feedback', 'bs_iat_feedback_level', 'bs_motivated_approvguess', 'bs_motivated_approvconfiden', 'bs_motivated_damage', 'bs_motivated_damage_lob', 'bs_motivated_damage_upb', 'bs_motivated_newsh', 'bs_motivated_fakenews', 'bs_motivated_decision', 'bs_motivated_click_arga', 'bs_motivated_click_argb', 'bs_motivated_info', 'bs_participant_book_choice', 'Curso', 'ApellidoPaterno', 'ApellidoMaterno', 'Nombres', 'Cargo', 'NroAula', 'email', 'Colegio', 'FechaNacimiento', 'GÃ©nero', 'Departamento', 'Provincia', 'Distrito', 'InstituciÃ³n', 'DistritoJudicialFiscal', 'NombreDespacho', 'Departamento31', 'Provincia32', 'Distrito33', 'bs_participant_merge', 'socratic_treated', 'iat_option_take_or_not', 'iat_feedback_option_or_not', 'iat_treatment_description', 'Age_decimal', 'Age_rounded', 'bs_trolley_footbridge_male', 'bs_trolley_footbridge_female', 'bs_trolley_bystander_male', 'bs_trolley_bystander_female', 'bs_trolley_treatment', 'bs_Estado_de_Cuestionario', 'en_Estado_de_Cuestionario', 'bs_dictator_partner_position', 'bs_dictator_partner_gender', 'bs_dictator_partner_merge', 'en_dictator_partner_position', 'en_dictator_partner_gender', 'en_dictator_partner_merge', 'bs_redistribute_partner_cargo_a', 'bs_redistribute_partner_gender_a', 'bs_redistribute_partner_merge_a', 'bs_redistribute_partner_cargo_b', 'bs_redistribute_partner_gender_b', 'bs_redistribute_partner_merge_b', 'en_redistribute_partner_cargo_a', 'en_redistribute_partner_gender_a', 'en_redistribute_partner_merge_a', 'en_redistribute_partner_cargo_b', 'en_redistribute_partner_gender_b', 'en_redistribute_partner_merge_b']

In [2]:
import pandas as pd 
lab_data = pd.read_stata(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\08_CEJ_Web\data_cleaned\lab_data\Clean_Full_Data12.dta")

In [7]:
column_names = lab_data.columns.tolist()
column_names

['en_participant_index_in_pages',
 'en_participant_current_app_name',
 'en_participant_current_page_name',
 'en_participant_time_started',
 'en_participant_payoff',
 'DNI',
 'en_survey_qvsr1playerqvsr_4',
 'en_survey_qvsr1playerqvsr_8',
 'en_survey_qvsr1playerqvsr_6',
 'en_survey_qvsr1playerqvsr_5',
 'en_survey_qvsr1playerqvsr_11',
 'en_survey_qvsr1playerqvsr_12',
 'en_survey_qvsr1playerqvsr_13',
 'en_survey_qvsr1playerqvsr_14',
 'en_survey_qvsr1playerqvsr_9',
 'en_survey_qvsr1playerqvsr_10',
 'en_survey_qvsr1playerqvsr_1',
 'en_survey_qvsr1playerqvsr_7',
 'en_survey_qvsr1playerqvsr_3',
 'en_survey_qvsr1playerqvsr_2',
 'en_redistribute_partner_dni_a',
 'en_redistribute_partner_dni_b',
 'en_redistribute_partner_name_a',
 'en_redistribute_partner_name_b',
 'en_redistribute_player_decision',
 'en_games_solo1playerpayoff',
 'en_dictator_partner_dni',
 'en_dictator_partner_name',
 'en_dictator_player_decision',
 'en_dictator_player_payoff',
 'en_redistribute_knows_partner_a',
 'en_redistribute_knows_partner_b',
 'en_dictator_knows_partner',
 'en_trolley_treat',
 'en_trolley_decision',
 'en_iat_version',
 'en_iat_score',
 'en_iat_feedback_descriptive',
 'en_iat_player_skipped',
 'en_iat_show_feedback',
 'en_iat_want_feedback',
 'en_iat_feedback_level',
 'en_motivated_approvguess',
 'en_motivated_approvconfiden',
 'en_motivated_damage',
 'en_motivated_damage_lob',
 'en_motivated_damage_upb',
 'en_motivated_newsh',
 'en_motivated_fakenews',
 'en_motivated_decision',
 'en_motivated_click_arga',
 'en_motivated_click_argb',
 'en_motivated_info',
 'en_participant_book_choice',
 'randomly_reveal',
 'en_participant_merge',
 'bs_participant_index_in_pages',
 'bs_participant_current_app_name',
 'bs_participant_current_page_name',
 'bs_participant_time_started',
 'bs_participant_payoff',
 'bs_survey_qvsr1playerqvsr_4',
 'bs_survey_qvsr1playerqvsr_14',
 'bs_survey_qvsr1playerqvsr_5',
 'bs_survey_qvsr1playerqvsr_2',
 'bs_survey_qvsr1playerqvsr_12',
 'bs_survey_qvsr1playerqvsr_15',
 'bs_survey_qvsr1playerqvsr_8',
 'bs_survey_qvsr1playerqvsr_1',
 'bs_survey_qvsr1playerqvsr_10',
 'bs_survey_qvsr1playerqvsr_9',
 'bs_survey_qvsr1playerqvsr_3',
 'bs_survey_qvsr1playerqvsr_6',
 'bs_survey_qvsr1playerqvsr_13',
 'bs_survey_qvsr1playerqvsr_7',
 'bs_survey_qvsr1playerqvsr_11',
 'bs_redistribute_partner_dni_a',
 'bs_redistribute_partner_dni_b',
 'bs_redistribute_partner_name_a',
 'bs_redistribute_partner_name_b',
 'bs_redistribute_player_decision',
 'bs_games_solo1playerpayoff',
 'bs_dictator_partner_dni',
 'bs_dictator_partner_name',
 'bs_dictator_player_decision',
 'bs_dictator_player_payoff',
 'bs_redistribute_knows_partner_a',
 'bs_redistribute_knows_partner_b',
 'bs_dictator_knows_partner',
 'bs_die_roll_decision',
 'bs_die_roll_player_roll_value',
 'bs_die_roll_player_payoff',
 'bs_trolley_playeris_men',
 'bs_trolley_playeris_footbridge',
 'bs_trolley_decision',
 'bs_iat_version',
 'bs_iat_score',
 'bs_iat_feedback_descriptive',
 'bs_iat_player_skipped',
 'bs_iat_show_feedback',
 'bs_iat_want_feedback',
 'bs_iat_feedback_level',
 'bs_motivated_approvguess',
 'bs_motivated_approvconfiden',
 'bs_motivated_damage',
 'bs_motivated_damage_lob',
 'bs_motivated_damage_upb',
 'bs_motivated_newsh',
 'bs_motivated_fakenews',
 'bs_motivated_decision',
 'bs_motivated_click_arga',
 'bs_motivated_click_argb',
 'bs_motivated_info',
 'bs_participant_book_choice',
 'Curso',
 'ApellidoPaterno',
 'ApellidoMaterno',
 'Nombres',
 'Cargo',
 'NroAula',
 'email',
 'Colegio',
 'FechaNacimiento',
 'GÃ©nero',
 'Departamento',
 'Provincia',
 'Distrito',
 'InstituciÃ³n',
 'DistritoJudicialFiscal',
 'NombreDespacho',
 'Departamento31',
 'Provincia32',
 'Distrito33',
 'bs_participant_merge',
 'socratic_treated',
 'iat_option_take_or_not',
 'iat_feedback_option_or_not',
 'iat_treatment_description',
 'Age_decimal',
 'Age_rounded',
 'bs_trolley_footbridge_male',
 'bs_trolley_footbridge_female',
 'bs_trolley_bystander_male',
 'bs_trolley_bystander_female',
 'bs_trolley_treatment',
 'bs_Estado_de_Cuestionario',
 'en_Estado_de_Cuestionario',
 'bs_dictator_partner_position',
 'bs_dictator_partner_gender',
 'bs_dictator_partner_merge',
 'en_dictator_partner_position',
 'en_dictator_partner_gender',
 'en_dictator_partner_merge',
 'bs_redistribute_partner_cargo_a',
 'bs_redistribute_partner_gender_a',
 'bs_redistribute_partner_merge_a',
 'bs_redistribute_partner_cargo_b',
 'bs_redistribute_partner_gender_b',
 'bs_redistribute_partner_merge_b',
 'en_redistribute_partner_cargo_a',
 'en_redistribute_partner_gender_a',
 'en_redistribute_partner_merge_a',
 'en_redistribute_partner_cargo_b',
 'en_redistribute_partner_gender_b',
 'en_redistribute_partner_merge_b']

In [10]:
# Filter rows where the 'Cargo' column contains 'JUEZ'
filtered_df = lab_data[lab_data['Cargo'].str.contains('JUEZ', na=False)]

# Select specific columns: ApellidoPaterno, ApellidoMaterno, Nombres
juez_df = filtered_df[['ApellidoPaterno', 'ApellidoMaterno', 'Nombres']]
juez_df

     ApellidoPaterno ApellidoMaterno          Nombres
2              ROSAS       CASTAÑEDA     JUAN ANTONIO
11            HUAMAN          PORTAL     ELVIRA LAURA
21          ZAVALAGA          VARGAS   ELARD FERNANDO
30             LAIZA        ESPINOZA    GLORIA LUCILA
34             MORON       DOMINGUEZ  BENJAMIN ISRAEL
...              ...             ...              ...
5991          PALMER          OLIDEN     CARMEN JULIA
6005          ABANTO           TAFUR        TATIANOVA
6019         MORALES       FERNANDEZ   GIANNY ELEISER
6053          LLANCA            VARA   NORA ELIZABETH
6073         PACHECO          ZAPATA     YULEMI PAULA

[305 rows x 3 columns]

In [11]:
juez_df["participant_apellido_nombre"] = juez_df["ApellidoPaterno"] + " " + juez_df["ApellidoMaterno"] + " " + juez_df["Nombres"]
juez_df["participant_apellido_nombre"] = juez_df["participant_apellido_nombre"].str.strip()

juez_df["participant_nombre_apellido"] = juez_df["Nombres"] + " " +  juez_df["ApellidoPaterno"] + " " + juez_df["ApellidoMaterno"]
juez_df["participant_nombre_apellido"] = juez_df["participant_nombre_apellido"].str.strip()
juez_df

C:\Users\PC\AppData\Local\Temp\ipykernel_27304\1153575604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juez_df["participant_apellido_nombre"] = juez_df["ApellidoPaterno"] + " " + juez_df["ApellidoMaterno"] + " " + juez_df["Nombres"]
C:\Users\PC\AppData\Local\Temp\ipykernel_27304\1153575604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juez_df["participant_apellido_nombre"] = juez_df["participant_apellido_nombre"].str.strip()
C:\Users\PC\AppData\Local\Temp\ipykernel_27304\1153575604.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juez_df["participant_nombre_apellido"] = juez_df["Nombres"] + " " +  juez_df["ApellidoPaterno"] + " " + juez_df["ApellidoMaterno"]
C:\Users\PC\AppData\Local\Temp\ipykernel_27304\1153575604.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juez_df["participant_nombre_apellido"] = juez_df["participant_nombre_apellido"].str.strip()

,ApellidoPaterno,ApellidoMaterno,Nombres,participant_apellido_nombre,participant_nombre_apellido
2,ROSAS,CASTAÑEDA,JUAN ANTONIO,ROSAS CASTAÑEDA JUAN ANTONIO,JUAN ANTONIO ROSAS CASTAÑEDA
11,HUAMAN,PORTAL,ELVIRA LAURA,HUAMAN PORTAL ELVIRA LAURA,ELVIRA LAURA HUAMAN PORTAL
21,ZAVALAGA,VARGAS,ELARD FERNANDO,ZAVALAGA VARGAS ELARD FERNANDO,ELARD FERNANDO ZAVALAGA VARGAS
30,LAIZA,ESPINOZA,GLORIA LUCILA,LAIZA ESPINOZA GLORIA LUCILA,GLORIA LUCILA LAIZA ESPINOZA
34,MORON,DOMINGUEZ,BENJAMIN ISRAEL,MORON DOMINGUEZ BENJAMIN ISRAEL,BENJAMIN ISRAEL MORON DOMINGUEZ
...,...,...,...,...,...
5991,PALMER,OLIDEN,CARMEN JULIA,PALMER OLIDEN CARMEN JULIA,CARMEN JULIA PALMER OLIDEN
6005,ABANTO,TAFUR,TATIANOVA,ABANTO TAFUR TATIANOVA,TATIANOVA ABANTO TAFUR
6019,MORALES,FERNANDEZ,GIANNY ELEISER,MORALES FERNANDEZ GIANNY ELEISER,GIANNY ELEISER MORALES FERNANDEZ
6053,LLANCA,VARA,NORA ELIZABETH,LLANCA VARA NORA ELIZABETH,NORA ELIZABETH LLANCA VARA
6073,PACHECO,ZAPATA,YULEMI PAULA,PACHECO ZAPATA YULEMI PAULA,YULEMI PAULA PACHECO ZAPATA

In [15]:
unique_values_count = juez_df['participant_apellido_nombre'].nunique()

# Print the result
print(f"The number of unique values in column '0' is: {unique_values_count}")

The number of unique values in column '0' is: 305

In [8]:
cargo_counts = lab_data['Cargo'].value_counts()
cargo_counts

          5694
FISCAL     675
JUEZ       305
AUX        197
ASIS       193
Name: Cargo, dtype: int64

In [9]:
jueces = pd.read_csv(r"D:\Proyectos\amag\data_cleaned_test\temp\judges_2018.csv")
jueces

     Unnamed: 0                                     0
0             0  SANTISTEBAN VALENZUELA AILLENY ADELA
1             1           ROBLES TORRES HIBETH LEGNNY
2             2          RETUERTO TUEROS BESSI YOHANA
3             3               MENDOZA ASENCIOS WILBER
4             4       HUERTA BOJORQUEZ CARMEN EUGENIA
..          ...                                   ...
974         974            KATHERINE LA ROSA CASTILLO
975         975         VITERI VALIENTE YESSICA PAOLA
976         976      YOLANDA PETRONILA CAMPOS  SOTELO
977         977      DAVILA ARQUIÑIGO ROSARIO MARLENE
978         978                 OTÁROLA PAREDES MARÍA

[979 rows x 2 columns]

In [13]:
import pandas as pd
from fuzzywuzzy import fuzz

# Function to check for similarity
def check_similarity(value, comparison_list, threshold=90):
    for comparison_value in comparison_list:
        if fuzz.ratio(value, comparison_value) >= threshold:
            return True
    return False

# Get the list of values to compare against
comparison_list_apellido_nombre = juez_df['participant_apellido_nombre'].tolist()
comparison_list_nombre_apellido = juez_df['participant_nombre_apellido'].tolist()

# Check for similarities
similarities = []
for value in jueces['0']:
    if (check_similarity(value, comparison_list_apellido_nombre) or 
        check_similarity(value, comparison_list_nombre_apellido)):
        similarities.append(value)

# Print the matching observations
print("Matching Observations:")
print(similarities)

# Optionally, save the matching observations to a new file
matching_df = jueces[jueces['0'].isin(similarities)]
matching_df

Matching Observations:
['DIAZ ALVAN ROBERTO CARLOS', 'BACILIO SALAZAR EMMA CONSUELO', 'ROJAS OBREGON FIORELLA MAGALI', 'CALLE VERA OSCAR FRANCIS', 'OROSCO VEGA ELOY GUILLERMO', 'TALAVERA ZAPANA NOLAM ELIAS', 'UCHANI SARMIENTO BERTHA', 'CARHUAPOMA GRANDA EDGARD JESUS', 'CARY CHOQUE CARLOS ALVARO', 'DE LA CRUZ PIZARRO JHENY VIRGINIA', 'LUIS ALVIN QUISPE SANCHEZ', 'CACHI ROJAS ALEX NILTON', 'MACHUCA ALIAGA ELDA MADAHITH', 'ASMAD CORCUERA MARCO ANTONIO', 'ELIZABETH WENDY RODRIGUEZ CELORIA', 'SANCHEZ RAMOS BEATRIZ YOLANDA', 'MALQUI MOSCOSO MIRIAM LUISA', 'QUISPE NESTARES ENOC JEFTE', 'URRUTIA MENDEZ JONATHAN PAUL', 'DE PAZ FLORES CARLOS ENRIQUE', 'CARLOS ENRIQUE PLASENCIA CRUZ', 'TORRES CONTRERAS WILLIAM EDGARDO', 'ROJAS MENDOZA TANIA SISSI', 'CEPIDA GUERRERO IVAN', 'ORE FLORES ARTEMIO', 'NATALY MARILU PALACIOS BALTAZAR', 'MIGUEL BRAULIO GUTIERREZ SALVADOR', 'CAYLLAHUA PEÑA MAXIMO JAVIER', 'MAYO CARBAJAL MIQUEAS PABLO', 'ARGUELLES VIZARRETA OSCAR', 'CHUNGA GAMARRA NILS MARCIAL', 'VIVANCO HUAMAN GLORIA TERESA', 'MEDRANO QUISPE PABLO CESAR', 'AUQUI HUERTA TEOFANES EDGAR', 'MEDRANO ALIAGA ANA PAULA', 'VICUÑA ZAMORA JESUS', 'ESAU CHANCO CASTILLON', 'GERONIMO PIÑAS CARLOS ENRIQUE', 'AMPARO BEATRIZ RODRIGUEZ CASTILLO', 'RAMIREZ IPARRAGUIRRE VICTOR MANUEL', 'VICTOR CANDELARIO LEON MARTELL', 'CARLOS ANIBAL MALCA MAUROLAGOITIA', 'GLORIA LUCILA LAIZA ESPINOZA', 'TERRONES MELENDEZ ARY HENDRIK', 'OLIVOS ARELLANO MIGUEL ANGEL', 'RIVAS VARGAS SARITA', 'BAIQUE CAMACHO MILENA LETICIA', 'ROJAS LAZARO WILLIAM RAUL', 'SARMIENTO VEGA VARINIA YANET', 'GRAJEDA BASHUALDO MILAGROS MARILYN', 'VALVERDE BERNALES JHONATAN', 'DE LA CRUZ TIPIAN CESAR ADOLFO', 'ARIZABAL CALDERON RUSSY ELDA', 'VARGAS PEREZ ROSA ISABEL', 'CORDOVA LOPEZ OCNER', 'CHAVEZ BUSTAMANTE ANITA SUSANA', 'ZAPATA PACCORI NOELIA LISBET', 'AGUILAR BAZAN MARLY YOHANA', 'CHRISTIAN DAVID ROJAS MONGO', 'CASTILLO HUAYNACHO ELMER', 'PACHECO ZAPATA YULEMI PAULA', 'FERNANDEZ SANCHEZ FREDY', 'SALINAS LINARES CESAR AUGUSTO', 'ROMAIN IGORT VIVIANO VALDEZ', 'JUAN MANUEL FLORES SANCHEZ', 'JENNY MILAGRITOS SALVADOR PLASENCIA', 'JANAMPA PALOMINO JELLY ELVIA', 'MONTES ABREGU JUAN CRISTIAN', 'NOLE LUPU JESUS MARTIN', 'GARCIA CABRERA DE MEDINA VIOLETA MARIA', 'DILMER IVAN MEZA CONISLLA', 'MORENO CCANCCE RICARDO JONNY']

     Unnamed: 0                                       0
10           10               DIAZ ALVAN ROBERTO CARLOS
18           18           BACILIO SALAZAR EMMA CONSUELO
21           21           ROJAS OBREGON FIORELLA MAGALI
86           86                CALLE VERA OSCAR FRANCIS
91           91              OROSCO VEGA ELOY GUILLERMO
..          ...                                     ...
887         887             MONTES ABREGU JUAN CRISTIAN
890         890                  NOLE LUPU JESUS MARTIN
937         937  GARCIA CABRERA DE MEDINA VIOLETA MARIA
940         940               DILMER IVAN MEZA CONISLLA
967         967            MORENO CCANCCE RICARDO JONNY

[72 rows x 2 columns]

In [14]:
unique_values_count = matching_df['0'].nunique()

# Print the result
print(f"The number of unique values in column '0' is: {unique_values_count}")

The number of unique values in column '0' is: 72