In [1]:
import pandas as pd

In [4]:
df_1 = pd.read_csv(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\01_AMAG\03_Intermediate\iat_data_clean.csv")

df_1 = df_1.dropna(subset=['iat_score'])

# Optionally, you can reset the index after dropping rows
df_1 = df_1.reset_index(drop=True)
df_1

,nrodocumento,participant_visited,redistribute_decision,survey_payoff,dictator_decision,lying_payout,trolley_decision,skip_iat,iat_score,book_econ,...,goal_1_likert,goal_2_likert,gratitude_1_likert,gratitude_2_likert,avg_growth_likert,avg_challenge_likert,avg_empowerment_likert,avg_curiosity_likert,avg_goal_likert,avg_gratitude_likert
0,18086169,1,1.0,5,0.0,0.0,0.0,0,-0.176195,False,...,1.0,1.0,1.0,1.0,1.00,0.375,1.00,1.00,1.00,1.00
1,23952913,1,5.0,5,2.0,0.0,0.0,0,-0.646047,False,...,1.0,1.0,1.0,1.0,0.75,0.625,0.50,-0.25,1.00,1.00
2,9351153,1,5.0,5,5.0,0.0,1.0,0,-0.708610,False,...,1.0,0.5,1.0,1.0,0.50,0.375,0.75,0.00,0.75,1.00
3,40890179,1,1.0,5,0.0,0.0,0.0,0,-0.255366,False,...,0.0,0.0,1.0,0.5,1.00,0.125,0.50,-0.25,0.00,0.75
4,29595800,1,5.0,5,5.0,0.0,0.0,0,-0.019535,False,...,0.5,0.5,0.5,0.5,0.50,0.500,0.50,0.50,0.50,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,41578026,1,5.0,5,5.0,0.0,0.0,0,0.012350,False,...,0.5,0.0,0.5,0.5,0.50,0.625,0.50,0.25,0.25,0.50
309,7517419,1,5.0,5,5.0,0.0,0.0,0,-0.180956,NaN,...,0.5,1.0,1.0,0.5,0.50,0.250,0.50,0.00,0.75,0.75
310,8806579,1,5.0,5,5.0,0.0,0.0,0,-0.099786,False,...,0.5,0.5,1.0,0.5,0.50,0.375,0.75,-0.25,0.50,0.75
311,10651123,1,5.0,5,5.0,0.0,0.0,0,-0.084594,False,...,1.0,1.0,1.0,1.0,0.25,0.750,0.75,0.25,1.00,1.00
312,40763992,1,5.0,5,5.0,0.0,0.0,0,-0.621734,False,...,0.5,0.5,1.0,0.5,0.50,0.250,0.50,0.00,0.50,0.75

In [5]:
column_names = df_1.columns.tolist()
column_names

['nrodocumento',
 'participant_visited',
 'redistribute_decision',
 'survey_payoff',
 'dictator_decision',
 'lying_payout',
 'trolley_decision',
 'skip_iat',
 'iat_score',
 'book_econ',
 'book_gender',
 'book_morality',
 'book_independence',
 'early_participant',
 'done_iat_no_result',
 'work_satisfied_likert',
 'work_important_likert',
 'motivated_likert',
 'trust_likert',
 'learning_satisfied_likert',
 'improve_likert',
 'professor_likert',
 'growth_1_likert',
 'growth_2_likert',
 'challenge_1_likert',
 'challenge_2_likert',
 'challenge_3_likert',
 'challenge_4_likert',
 'empowerment_1_likert',
 'empowerment_2_likert',
 'curiosity_1_likert',
 'curiosity_2_likert',
 'goal_1_likert',
 'goal_2_likert',
 'gratitude_1_likert',
 'gratitude_2_likert',
 'avg_growth_likert',
 'avg_challenge_likert',
 'avg_empowerment_likert',
 'avg_curiosity_likert',
 'avg_goal_likert',
 'avg_gratitude_likert']

In [10]:
df_2 = pd.read_csv(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\01_AMAG\03_Intermediate\PCA_2020_all_participants.csv")

df_2

,dni,apellido_paterno,apellido_materno,nombres,institución,nro_nivel_postula
0,44365523,ALVA,VILCHEZ,LUIS FELIPE,Ministerio Público,2
1,41316326,CATACORA,AGUIRRE,ANGELA PAOLA,Ministerio Público,2
2,41313790,CHAPARRO,CHOQUE,YANETH,Ministerio Público,2
3,2146580,CORRALES,CUBA,YURI FILAMIR,Poder Judicial,2
4,29627003,DEZA,MEDINA,ERICK PAOLO,Ministerio Público,2
...,...,...,...,...,...,...
632,41578026,CALLISAYA,GUTIERREZ,JAIME ISRAEL,NaN,2
633,29727800,VEGA,LIZARRAGA,ANGELA JANET,NaN,2
634,45918235,HANCCO,QUICO,FERNANDO,NaN,2
635,40832029,MANTILLA,CAMACHO,MARCO ANTONIO,NaN,3
636,31179096,AMBIA,RENAYLOS,ELEAZAR LINO,NaN,2

In [12]:
merged_df = pd.merge(df_1, df_2, left_on='nrodocumento', right_on='dni', how='inner')

# Count the number of identical values
num_identical = len(merged_df)

print(f"Number of identical values between 'DNI' and 'nrodocumento': {num_identical}")

Number of identical values between 'DNI' and 'nrodocumento': 313

In [13]:
merged_df["participant_apellido_nombre"] = merged_df["apellido_paterno"] + " " + merged_df["apellido_materno"] + " " + merged_df["nombres"]
merged_df["participant_apellido_nombre"] = merged_df["participant_apellido_nombre"].str.strip()

merged_df["participant_nombre_apellido"] = merged_df["nombres"] + " " + merged_df["apellido_paterno"] + " " + merged_df["apellido_materno"]
merged_df["participant_nombre_apellido"] = merged_df["participant_nombre_apellido"].str.strip()

In [14]:
merged_df.to_csv(r'D:\Proyectos\amag\iat_2021.csv')

In [2]:
df = pd.read_csv(r'D:\Proyectos\amag\iat_2021.csv')
df

,Unnamed: 0,nrodocumento,participant_visited,redistribute_decision,survey_payoff,dictator_decision,lying_payout,trolley_decision,skip_iat,iat_score,...,avg_goal_likert,avg_gratitude_likert,dni,apellido_paterno,apellido_materno,nombres,institución,nro_nivel_postula,participant_apellido_nombre,participant_nombre_apellido
0,0,18086169,1,1.0,5,0.0,0.0,0.0,0,-0.176195,...,1.00,1.00,18086169,PEREZ,CALDERON,PATRICIA DEL CARMEN,Ministerio Público,3,PEREZ CALDERON PATRICIA DEL CARMEN,PATRICIA DEL CARMEN PEREZ CALDERON
1,1,23952913,1,5.0,5,2.0,0.0,0.0,0,-0.646047,...,1.00,1.00,23952913,FRISANCHO,ENRIQUEZ,CARLOS,Poder Judicial,3,FRISANCHO ENRIQUEZ CARLOS,CARLOS FRISANCHO ENRIQUEZ
2,2,9351153,1,5.0,5,5.0,0.0,1.0,0,-0.708610,...,0.75,1.00,9351153,VALDIVIA,CALDERON,LUIS ENRIQUE,Ministerio Público,3,VALDIVIA CALDERON LUIS ENRIQUE,LUIS ENRIQUE VALDIVIA CALDERON
3,3,40890179,1,1.0,5,0.0,0.0,0.0,0,-0.255366,...,0.00,0.75,40890179,VITERI,VALIENTE,YESSICA PAOLA,Poder Judicial,3,VITERI VALIENTE YESSICA PAOLA,YESSICA PAOLA VITERI VALIENTE
4,4,29595800,1,5.0,5,5.0,0.0,0.0,0,-0.019535,...,0.50,0.50,29595800,TICONA,MIRANDA,MARCO ANTONIO,Poder Judicial,3,TICONA MIRANDA MARCO ANTONIO,MARCO ANTONIO TICONA MIRANDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,308,41578026,1,5.0,5,5.0,0.0,0.0,0,0.012350,...,0.25,0.50,41578026,CALLISAYA,GUTIERREZ,JAIME ISRAEL,NaN,2,CALLISAYA GUTIERREZ JAIME ISRAEL,JAIME ISRAEL CALLISAYA GUTIERREZ
309,309,7517419,1,5.0,5,5.0,0.0,0.0,0,-0.180956,...,0.75,0.75,7517419,JURADO,MONTEAGUDO,YSABEL,Poder Judicial,2,JURADO MONTEAGUDO YSABEL,YSABEL JURADO MONTEAGUDO
310,310,8806579,1,5.0,5,5.0,0.0,0.0,0,-0.099786,...,0.50,0.75,8806579,BEDOYA,CASABLANCA,CARLOS AUGUSTO,Ministerio Público,3,BEDOYA CASABLANCA CARLOS AUGUSTO,CARLOS AUGUSTO BEDOYA CASABLANCA
311,311,10651123,1,5.0,5,5.0,0.0,0.0,0,-0.084594,...,1.00,1.00,10651123,MEJIA,ARENAZA,MANUEL ERNESTO,Ministerio Público,3,MEJIA ARENAZA MANUEL ERNESTO,MANUEL ERNESTO MEJIA ARENAZA
312,312,40763992,1,5.0,5,5.0,0.0,0.0,0,-0.621734,...,0.50,0.75,40763992,LOPEZ,RODRIGUEZ,JORGE LUIS,Ministerio Público,3,LOPEZ RODRIGUEZ JORGE LUIS,JORGE LUIS LOPEZ RODRIGUEZ

In [3]:
counts = df['institución'].value_counts()
counts

Ministerio Público    194
Poder Judicial        114
Name: institución, dtype: int64

In [9]:

column_names = df_1.columns

# Print the column names
print("Column Names:")
for column in column_names:
    print(column)

Column Names:
nrodocumento
participant_visited
redistribute_decision
survey_payoff
dictator_decision
lying_payout
trolley_decision
skip_iat
iat_score
book_econ
book_gender
book_morality
book_independence
early_participant
done_iat_no_result
work_satisfied_likert
work_important_likert
motivated_likert
trust_likert
learning_satisfied_likert
improve_likert
professor_likert
growth_1_likert
growth_2_likert
challenge_1_likert
challenge_2_likert
challenge_3_likert
challenge_4_likert
empowerment_1_likert
empowerment_2_likert
curiosity_1_likert
curiosity_2_likert
goal_1_likert
goal_2_likert
gratitude_1_likert
gratitude_2_likert
avg_growth_likert
avg_challenge_likert
avg_empowerment_likert
avg_curiosity_likert
avg_goal_likert
avg_gratitude_likert

In [2]:
cases_per_month = pd.read_csv(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\08_CEJ_Web\data_cleaned\Cases_Per_Month_Output.csv")

In [3]:
cases_per_month

,Unnamed: 0,Judge,Cases,Source,Document Index,Monthwise Cases,Cases/mth
0,0,ADOLFO CORNEJO POLANCO,"['00637-2018-0-2802-JR-LA-01', '00270-2018-0-2...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[783082, 783087], [775182, 775184], [774515],...","{'01': 2, '02': 0, '03': 3, '04': 5, '05': 36,...",5.500000
1,1,ALEJANDRO PAUCAR FELIX,"['00297-2017-0-1408-JR-LA-01', '00062-2017-0-1...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [50693], [''], [559283, 559...","{'01': 50, '02': 21, '03': 11, '04': 2, '05': ...",7.333333
2,2,ALFARO SOTOMAYOR JOSE LUIS,"['00072-2019-23-1703-JR-LA-01', '00001-2017-0-...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [''], [''], [''], [694578],...","{'01': 45, '02': 7, '03': 10, '04': 4, '05': 3...",6.500000
3,3,ALFREDO CUIPA PINEDO,"['00093-2019-0-2501-JR-LA-02', '00255-2019-0-2...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[1267530, 1267531, 1267532, 1267533, 1267534,...","{'01': 31, '02': 5, '03': 0, '04': 0, '05': 0,...",3.166667
4,4,"ALIAGA RENGIFO, JOSE RONALD","['00016-2018-0-0901-JR-LA-01', '00018-2018-0-0...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [''], [731857], [''], [''],...","{'01': 17, '02': 2, '03': 0, '04': 0, '05': 0,...",1.916667
...,...,...,...,...,...,...,...
1809,1809,ZUMARAN ALFARO DALIA BLANCA,"['00326-2018-0-1101-JP-CI-01', '00075-2018-0-1...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 45, '02': 12, '03': 15, '04': 7, '05': ...",7.416667
1810,1810,ZUÑIGA PORTOCARRERO LINO,"['00005-2017-0-0412-JR-CI-01', '00009-2017-0-0...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 28, '02': 0, '03': 0, '04': 0, '05': 0,...",2.416667
1811,1811,ZUÑIGA RUIZ NEYSSY,"['00001-2017-0-2602-JP-CI-01', '00002-2017-0-2...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 11, '02': 6, '03': 2, '04': 1, '05': 1,...",3.916667
1812,1812,ZUÑIGA VALLEJOS JULIO CESAR,"['00001-2017-0-2601-JP-LA-01', '00002-2017-0-2...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 230, '02': 26, '03': 67, '04': 1, '05':...",27.083333
1813,1813,ÑAUPA CHACALTANA CARLOS JAVIER,"['00006-2020-0-0503-JP-CI-01', '00001-2020-0-0...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'01': 3, '02': 1, '03': 5, '04': 2, '05': 0, ...",2.500000

In [4]:
cases_appealed = pd.read_csv(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\08_CEJ_Web\data_cleaned\Cases_Appealed&Reversed_Output.csv")

In [5]:
cases_appealed

,Judge,Cases,Source,Document Index,Appeals,No. of Appeals,No. of Cases,Cases Appealed,Fraction of Cases Appealed,Reversals,No. of Reversals,Fraction of Cases Reversed
0,ADOLFO CORNEJO POLANCO,"['00637-2018-0-2802-JR-LA-01', '00270-2018-0-2...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[783082, 783087], [775182, 775184], [774515],...",{},0,66,[],0.000000,{},0,0.000000
1,ALEJANDRO PAUCAR FELIX,"['00297-2017-0-1408-JR-LA-01', '00062-2017-0-1...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [50693], [''], [559283, 559...","{'00057-2019-0-1408-JR-LA-01': 1, '00055-2019-...",4,88,[],0.045455,{},0,0.000000
2,ALFARO SOTOMAYOR JOSE LUIS,"['00072-2019-23-1703-JR-LA-01', '00001-2017-0-...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [''], [''], [''], [694578],...",{},0,78,[],0.000000,{},0,0.000000
3,ALFREDO CUIPA PINEDO,"['00093-2019-0-2501-JR-LA-02', '00255-2019-0-2...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[1267530, 1267531, 1267532, 1267533, 1267534,...","{'00093-2019-0-2501-JR-LA-02': 1, '00051-2019-...",9,38,[],0.236842,"{'00093-2019-0-2501-JR-LA-02': 1, '00031-2019-...",4,0.105263
4,"ALIAGA RENGIFO, JOSE RONALD","['00016-2018-0-0901-JR-LA-01', '00018-2018-0-0...","['mul', 'mul', 'mul', 'mul', 'mul', 'mul', 'mu...","[[''], [''], [''], [''], [731857], [''], [''],...",{},0,23,[],0.000000,{},0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1809,ZUMARAN ALFARO DALIA BLANCA,"['00326-2018-0-1101-JP-CI-01', '00075-2018-0-1...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],{},0,89,[],0.000000,{},0,0.000000
1810,ZUÑIGA PORTOCARRERO LINO,"['00005-2017-0-0412-JR-CI-01', '00009-2017-0-0...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],{},0,29,[],0.000000,{},0,0.000000
1811,ZUÑIGA RUIZ NEYSSY,"['00001-2017-0-2602-JP-CI-01', '00002-2017-0-2...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],{},0,47,[],0.000000,{},0,0.000000
1812,ZUÑIGA VALLEJOS JULIO CESAR,"['00001-2017-0-2601-JP-LA-01', '00002-2017-0-2...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],"{'00003-2019-0-2601-JP-LA-01': 5, '00011-2019-...",28,325,[],0.086154,{'00053-2021-0-2601-JP-LA-01': 1},1,0.003077
1813,ÑAUPA CHACALTANA CARLOS JAVIER,"['00006-2020-0-0503-JP-CI-01', '00001-2020-0-0...","['sin', 'sin', 'sin', 'sin', 'sin', 'sin', 'si...",[['']],{},0,30,[],0.000000,{},0,0.000000

In [2]:
import pandas as pd

lab_data = pd.read_stata(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\08_CEJ_Web\data_cleaned\lab_data\Clean_Full_Data12.dta")
lab_data

,en_participant_index_in_pages,en_participant_current_app_name,en_participant_current_page_name,en_participant_time_started,en_participant_payoff,DNI,en_survey_qvsr1playerqvsr_4,en_survey_qvsr1playerqvsr_8,en_survey_qvsr1playerqvsr_6,en_survey_qvsr1playerqvsr_5,...,bs_redistribute_partner_merge_a,bs_redistribute_partner_cargo_b,bs_redistribute_partner_gender_b,bs_redistribute_partner_merge_b,en_redistribute_partner_cargo_a,en_redistribute_partner_gender_a,en_redistribute_partner_merge_a,en_redistribute_partner_cargo_b,en_redistribute_partner_gender_b,en_redistribute_partner_merge_b
0,23.0,trolley,TaskTrDecision,2021-07-10 20:30:59.128002+00:00,0.0,45412719.0,1.0,1.0,1.0,1.0,...,master only (1),,,master only (1),FISCAL,Masculino,matched (3),FISCAL,Masculino,matched (3)
1,40.0,prize,ThankYou,2021-07-03 15:29:21.935573+00:00,10.0,41437497.0,2.0,1.0,2.0,2.0,...,matched (3),FISCAL,Femenino,matched (3),AUX,Masculino,matched (3),FISCAL,Masculino,matched (3)
2,8.0,ultimatum,Think,2021-07-13 23:26:13.760730+00:00,0.0,40070874.0,1.0,-1.0,2.0,2.0,...,master only (1),,,master only (1),ASIS,Femenino,matched (3),ASIS,Femenino,matched (3)
3,9.0,ultimatum,Respond,2021-07-12 05:47:12.812443+00:00,0.0,17858959.0,1.0,1.0,1.0,1.0,...,matched (3),AUX,Masculino,matched (3),FISCAL,Masculino,matched (3),FISCAL,Masculino,matched (3)
4,40.0,prize,ThankYou,2021-07-14 15:22:03.809367+00:00,5.0,42998385.0,1.0,1.0,1.0,1.0,...,master only (1),,,master only (1),FISCAL,Femenino,matched (3),FISCAL,Masculino,matched (3)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7059,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,AUX,Femenino,using only (2)
7060,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,FISCAL,Masculino,using only (2)
7061,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,JUEZ,Masculino,using only (2)
7062,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,FISCAL,Masculino,using only (2)
7063,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,,,NaN,,,NaN,FISCAL,Femenino,using only (2)

In [3]:
print("Columns in the DataFrame:")
print(lab_data.columns.tolist())

Columns in the DataFrame:
['en_participant_index_in_pages', 'en_participant_current_app_name', 'en_participant_current_page_name', 'en_participant_time_started', 'en_participant_payoff', 'DNI', 'en_survey_qvsr1playerqvsr_4', 'en_survey_qvsr1playerqvsr_8', 'en_survey_qvsr1playerqvsr_6', 'en_survey_qvsr1playerqvsr_5', 'en_survey_qvsr1playerqvsr_11', 'en_survey_qvsr1playerqvsr_12', 'en_survey_qvsr1playerqvsr_13', 'en_survey_qvsr1playerqvsr_14', 'en_survey_qvsr1playerqvsr_9', 'en_survey_qvsr1playerqvsr_10', 'en_survey_qvsr1playerqvsr_1', 'en_survey_qvsr1playerqvsr_7', 'en_survey_qvsr1playerqvsr_3', 'en_survey_qvsr1playerqvsr_2', 'en_redistribute_partner_dni_a', 'en_redistribute_partner_dni_b', 'en_redistribute_partner_name_a', 'en_redistribute_partner_name_b', 'en_redistribute_player_decision', 'en_games_solo1playerpayoff', 'en_dictator_partner_dni', 'en_dictator_partner_name', 'en_dictator_player_decision', 'en_dictator_player_payoff', 'en_redistribute_knows_partner_a', 'en_redistribute_knows_partner_b', 'en_dictator_knows_partner', 'en_trolley_treat', 'en_trolley_decision', 'en_iat_version', 'en_iat_score', 'en_iat_feedback_descriptive', 'en_iat_player_skipped', 'en_iat_show_feedback', 'en_iat_want_feedback', 'en_iat_feedback_level', 'en_motivated_approvguess', 'en_motivated_approvconfiden', 'en_motivated_damage', 'en_motivated_damage_lob', 'en_motivated_damage_upb', 'en_motivated_newsh', 'en_motivated_fakenews', 'en_motivated_decision', 'en_motivated_click_arga', 'en_motivated_click_argb', 'en_motivated_info', 'en_participant_book_choice', 'randomly_reveal', 'en_participant_merge', 'bs_participant_index_in_pages', 'bs_participant_current_app_name', 'bs_participant_current_page_name', 'bs_participant_time_started', 'bs_participant_payoff', 'bs_survey_qvsr1playerqvsr_4', 'bs_survey_qvsr1playerqvsr_14', 'bs_survey_qvsr1playerqvsr_5', 'bs_survey_qvsr1playerqvsr_2', 'bs_survey_qvsr1playerqvsr_12', 'bs_survey_qvsr1playerqvsr_15', 'bs_survey_qvsr1playerqvsr_8', 'bs_survey_qvsr1playerqvsr_1', 'bs_survey_qvsr1playerqvsr_10', 'bs_survey_qvsr1playerqvsr_9', 'bs_survey_qvsr1playerqvsr_3', 'bs_survey_qvsr1playerqvsr_6', 'bs_survey_qvsr1playerqvsr_13', 'bs_survey_qvsr1playerqvsr_7', 'bs_survey_qvsr1playerqvsr_11', 'bs_redistribute_partner_dni_a', 'bs_redistribute_partner_dni_b', 'bs_redistribute_partner_name_a', 'bs_redistribute_partner_name_b', 'bs_redistribute_player_decision', 'bs_games_solo1playerpayoff', 'bs_dictator_partner_dni', 'bs_dictator_partner_name', 'bs_dictator_player_decision', 'bs_dictator_player_payoff', 'bs_redistribute_knows_partner_a', 'bs_redistribute_knows_partner_b', 'bs_dictator_knows_partner', 'bs_die_roll_decision', 'bs_die_roll_player_roll_value', 'bs_die_roll_player_payoff', 'bs_trolley_playeris_men', 'bs_trolley_playeris_footbridge', 'bs_trolley_decision', 'bs_iat_version', 'bs_iat_score', 'bs_iat_feedback_descriptive', 'bs_iat_player_skipped', 'bs_iat_show_feedback', 'bs_iat_want_feedback', 'bs_iat_feedback_level', 'bs_motivated_approvguess', 'bs_motivated_approvconfiden', 'bs_motivated_damage', 'bs_motivated_damage_lob', 'bs_motivated_damage_upb', 'bs_motivated_newsh', 'bs_motivated_fakenews', 'bs_motivated_decision', 'bs_motivated_click_arga', 'bs_motivated_click_argb', 'bs_motivated_info', 'bs_participant_book_choice', 'Curso', 'ApellidoPaterno', 'ApellidoMaterno', 'Nombres', 'Cargo', 'NroAula', 'email', 'Colegio', 'FechaNacimiento', 'GÃ©nero', 'Departamento', 'Provincia', 'Distrito', 'InstituciÃ³n', 'DistritoJudicialFiscal', 'NombreDespacho', 'Departamento31', 'Provincia32', 'Distrito33', 'bs_participant_merge', 'socratic_treated', 'iat_option_take_or_not', 'iat_feedback_option_or_not', 'iat_treatment_description', 'Age_decimal', 'Age_rounded', 'bs_trolley_footbridge_male', 'bs_trolley_footbridge_female', 'bs_trolley_bystander_male', 'bs_trolley_bystander_female', 'bs_trolley_treatment', 'bs_Estado_de_Cuestionario', 'en_Estado_de_Cuestionario', 'bs_dictator_partner_position', 'bs_dictator_partner_gender', 'bs_dictator_partner_merge', 'en_dictator_partner_position', 'en_dictator_partner_gender', 'en_dictator_partner_merge', 'bs_redistribute_partner_cargo_a', 'bs_redistribute_partner_gender_a', 'bs_redistribute_partner_merge_a', 'bs_redistribute_partner_cargo_b', 'bs_redistribute_partner_gender_b', 'bs_redistribute_partner_merge_b', 'en_redistribute_partner_cargo_a', 'en_redistribute_partner_gender_a', 'en_redistribute_partner_merge_a', 'en_redistribute_partner_cargo_b', 'en_redistribute_partner_gender_b', 'en_redistribute_partner_merge_b']

In [4]:
import pandas as pd 
lab_data = pd.read_stata(r"C:\Users\PC\Daniel Chen Dropbox\Alexis Malca\Peru_Justice\02_Data\08_CEJ_Web\data_cleaned\lab_data\Clean_Full_Data12.dta")

In [7]:
column_names = lab_data.columns.tolist()
column_names

['en_participant_index_in_pages',
 'en_participant_current_app_name',
 'en_participant_current_page_name',
 'en_participant_time_started',
 'en_participant_payoff',
 'DNI',
 'en_survey_qvsr1playerqvsr_4',
 'en_survey_qvsr1playerqvsr_8',
 'en_survey_qvsr1playerqvsr_6',
 'en_survey_qvsr1playerqvsr_5',
 'en_survey_qvsr1playerqvsr_11',
 'en_survey_qvsr1playerqvsr_12',
 'en_survey_qvsr1playerqvsr_13',
 'en_survey_qvsr1playerqvsr_14',
 'en_survey_qvsr1playerqvsr_9',
 'en_survey_qvsr1playerqvsr_10',
 'en_survey_qvsr1playerqvsr_1',
 'en_survey_qvsr1playerqvsr_7',
 'en_survey_qvsr1playerqvsr_3',
 'en_survey_qvsr1playerqvsr_2',
 'en_redistribute_partner_dni_a',
 'en_redistribute_partner_dni_b',
 'en_redistribute_partner_name_a',
 'en_redistribute_partner_name_b',
 'en_redistribute_player_decision',
 'en_games_solo1playerpayoff',
 'en_dictator_partner_dni',
 'en_dictator_partner_name',
 'en_dictator_player_decision',
 'en_dictator_player_payoff',
 'en_redistribute_knows_partner_a',
 'en_redistribute_knows_partner_b',
 'en_dictator_knows_partner',
 'en_trolley_treat',
 'en_trolley_decision',
 'en_iat_version',
 'en_iat_score',
 'en_iat_feedback_descriptive',
 'en_iat_player_skipped',
 'en_iat_show_feedback',
 'en_iat_want_feedback',
 'en_iat_feedback_level',
 'en_motivated_approvguess',
 'en_motivated_approvconfiden',
 'en_motivated_damage',
 'en_motivated_damage_lob',
 'en_motivated_damage_upb',
 'en_motivated_newsh',
 'en_motivated_fakenews',
 'en_motivated_decision',
 'en_motivated_click_arga',
 'en_motivated_click_argb',
 'en_motivated_info',
 'en_participant_book_choice',
 'randomly_reveal',
 'en_participant_merge',
 'bs_participant_index_in_pages',
 'bs_participant_current_app_name',
 'bs_participant_current_page_name',
 'bs_participant_time_started',
 'bs_participant_payoff',
 'bs_survey_qvsr1playerqvsr_4',
 'bs_survey_qvsr1playerqvsr_14',
 'bs_survey_qvsr1playerqvsr_5',
 'bs_survey_qvsr1playerqvsr_2',
 'bs_survey_qvsr1playerqvsr_12',
 'bs_survey_qvsr1playerqvsr_15',
 'bs_survey_qvsr1playerqvsr_8',
 'bs_survey_qvsr1playerqvsr_1',
 'bs_survey_qvsr1playerqvsr_10',
 'bs_survey_qvsr1playerqvsr_9',
 'bs_survey_qvsr1playerqvsr_3',
 'bs_survey_qvsr1playerqvsr_6',
 'bs_survey_qvsr1playerqvsr_13',
 'bs_survey_qvsr1playerqvsr_7',
 'bs_survey_qvsr1playerqvsr_11',
 'bs_redistribute_partner_dni_a',
 'bs_redistribute_partner_dni_b',
 'bs_redistribute_partner_name_a',
 'bs_redistribute_partner_name_b',
 'bs_redistribute_player_decision',
 'bs_games_solo1playerpayoff',
 'bs_dictator_partner_dni',
 'bs_dictator_partner_name',
 'bs_dictator_player_decision',
 'bs_dictator_player_payoff',
 'bs_redistribute_knows_partner_a',
 'bs_redistribute_knows_partner_b',
 'bs_dictator_knows_partner',
 'bs_die_roll_decision',
 'bs_die_roll_player_roll_value',
 'bs_die_roll_player_payoff',
 'bs_trolley_playeris_men',
 'bs_trolley_playeris_footbridge',
 'bs_trolley_decision',
 'bs_iat_version',
 'bs_iat_score',
 'bs_iat_feedback_descriptive',
 'bs_iat_player_skipped',
 'bs_iat_show_feedback',
 'bs_iat_want_feedback',
 'bs_iat_feedback_level',
 'bs_motivated_approvguess',
 'bs_motivated_approvconfiden',
 'bs_motivated_damage',
 'bs_motivated_damage_lob',
 'bs_motivated_damage_upb',
 'bs_motivated_newsh',
 'bs_motivated_fakenews',
 'bs_motivated_decision',
 'bs_motivated_click_arga',
 'bs_motivated_click_argb',
 'bs_motivated_info',
 'bs_participant_book_choice',
 'Curso',
 'ApellidoPaterno',
 'ApellidoMaterno',
 'Nombres',
 'Cargo',
 'NroAula',
 'email',
 'Colegio',
 'FechaNacimiento',
 'GÃ©nero',
 'Departamento',
 'Provincia',
 'Distrito',
 'InstituciÃ³n',
 'DistritoJudicialFiscal',
 'NombreDespacho',
 'Departamento31',
 'Provincia32',
 'Distrito33',
 'bs_participant_merge',
 'socratic_treated',
 'iat_option_take_or_not',
 'iat_feedback_option_or_not',
 'iat_treatment_description',
 'Age_decimal',
 'Age_rounded',
 'bs_trolley_footbridge_male',
 'bs_trolley_footbridge_female',
 'bs_trolley_bystander_male',
 'bs_trolley_bystander_female',
 'bs_trolley_treatment',
 'bs_Estado_de_Cuestionario',
 'en_Estado_de_Cuestionario',
 'bs_dictator_partner_position',
 'bs_dictator_partner_gender',
 'bs_dictator_partner_merge',
 'en_dictator_partner_position',
 'en_dictator_partner_gender',
 'en_dictator_partner_merge',
 'bs_redistribute_partner_cargo_a',
 'bs_redistribute_partner_gender_a',
 'bs_redistribute_partner_merge_a',
 'bs_redistribute_partner_cargo_b',
 'bs_redistribute_partner_gender_b',
 'bs_redistribute_partner_merge_b',
 'en_redistribute_partner_cargo_a',
 'en_redistribute_partner_gender_a',
 'en_redistribute_partner_merge_a',
 'en_redistribute_partner_cargo_b',
 'en_redistribute_partner_gender_b',
 'en_redistribute_partner_merge_b']

In [11]:
# Filter rows where the 'Cargo' column contains 'JUEZ'
filtered_df = lab_data[lab_data['Cargo'].str.contains('JUEZ', na=False)]

# Select specific columns: ApellidoPaterno, ApellidoMaterno, Nombres
juez_df = filtered_df[['ApellidoPaterno', 'ApellidoMaterno', 'Nombres' ,'bs_iat_score', 'en_iat_score']]
juez_df

,ApellidoPaterno,ApellidoMaterno,Nombres,bs_iat_score,en_iat_score
2,ROSAS,CASTAÑEDA,JUAN ANTONIO,NaN,NaN
11,HUAMAN,PORTAL,ELVIRA LAURA,NaN,NaN
21,ZAVALAGA,VARGAS,ELARD FERNANDO,NaN,NaN
30,LAIZA,ESPINOZA,GLORIA LUCILA,NaN,0.348581
34,MORON,DOMINGUEZ,BENJAMIN ISRAEL,NaN,NaN
...,...,...,...,...,...
5991,PALMER,OLIDEN,CARMEN JULIA,NaN,NaN
6005,ABANTO,TAFUR,TATIANOVA,NaN,NaN
6019,MORALES,FERNANDEZ,GIANNY ELEISER,NaN,NaN
6053,LLANCA,VARA,NORA ELIZABETH,NaN,NaN
6073,PACHECO,ZAPATA,YULEMI PAULA,NaN,NaN

In [12]:
juez_df = juez_df.dropna(subset=['bs_iat_score'])
juez_df

,ApellidoPaterno,ApellidoMaterno,Nombres,bs_iat_score,en_iat_score
44,SALAZAR,DIAZ,VLADIMIR OMAR,0.087537,-0.354901
53,SUPANTA,CONDOR,MARINA INES,-0.663009,-0.152260
59,LINARES,REBAZA,DYRAN JORGE,-0.236486,NaN
84,CLEMENTE,SALOME,DILMA ZORAIDA,-0.250922,0.300731
88,VIVIANO,VALDEZ,ROMAIN IGORT,-0.483749,-0.087099
...,...,...,...,...,...
5476,ASMAD,CORCUERA,MARCO ANTONIO,-0.265571,NaN
5528,MIO,LOPEZ,FLOR GRACIELA,-0.160823,NaN
5571,AGUILAR,BAZAN,MARLY YOHANA,-0.243329,NaN
5724,SANTILLAN,TUESTA,JUAN CARLOS,0.088814,NaN
5845,BASAGOITIA,CARDENAS,JONATAN ORLANDO,0.291353,NaN

In [13]:
juez_df["participant_apellido_nombre"] = juez_df["ApellidoPaterno"] + " " + juez_df["ApellidoMaterno"] + " " + juez_df["Nombres"]
juez_df["participant_apellido_nombre"] = juez_df["participant_apellido_nombre"].str.strip()

juez_df["participant_nombre_apellido"] = juez_df["Nombres"] + " " +  juez_df["ApellidoPaterno"] + " " + juez_df["ApellidoMaterno"]
juez_df["participant_nombre_apellido"] = juez_df["participant_nombre_apellido"].str.strip()
juez_df

C:\Users\PC\AppData\Local\Temp\ipykernel_17640\1153575604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juez_df["participant_apellido_nombre"] = juez_df["ApellidoPaterno"] + " " + juez_df["ApellidoMaterno"] + " " + juez_df["Nombres"]
C:\Users\PC\AppData\Local\Temp\ipykernel_17640\1153575604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juez_df["participant_apellido_nombre"] = juez_df["participant_apellido_nombre"].str.strip()
C:\Users\PC\AppData\Local\Temp\ipykernel_17640\1153575604.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juez_df["participant_nombre_apellido"] = juez_df["Nombres"] + " " +  juez_df["ApellidoPaterno"] + " " + juez_df["ApellidoMaterno"]
C:\Users\PC\AppData\Local\Temp\ipykernel_17640\1153575604.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  juez_df["participant_nombre_apellido"] = juez_df["participant_nombre_apellido"].str.strip()

,ApellidoPaterno,ApellidoMaterno,Nombres,bs_iat_score,en_iat_score,participant_apellido_nombre,participant_nombre_apellido
44,SALAZAR,DIAZ,VLADIMIR OMAR,0.087537,-0.354901,SALAZAR DIAZ VLADIMIR OMAR,VLADIMIR OMAR SALAZAR DIAZ
53,SUPANTA,CONDOR,MARINA INES,-0.663009,-0.152260,SUPANTA CONDOR MARINA INES,MARINA INES SUPANTA CONDOR
59,LINARES,REBAZA,DYRAN JORGE,-0.236486,NaN,LINARES REBAZA DYRAN JORGE,DYRAN JORGE LINARES REBAZA
84,CLEMENTE,SALOME,DILMA ZORAIDA,-0.250922,0.300731,CLEMENTE SALOME DILMA ZORAIDA,DILMA ZORAIDA CLEMENTE SALOME
88,VIVIANO,VALDEZ,ROMAIN IGORT,-0.483749,-0.087099,VIVIANO VALDEZ ROMAIN IGORT,ROMAIN IGORT VIVIANO VALDEZ
...,...,...,...,...,...,...,...
5476,ASMAD,CORCUERA,MARCO ANTONIO,-0.265571,NaN,ASMAD CORCUERA MARCO ANTONIO,MARCO ANTONIO ASMAD CORCUERA
5528,MIO,LOPEZ,FLOR GRACIELA,-0.160823,NaN,MIO LOPEZ FLOR GRACIELA,FLOR GRACIELA MIO LOPEZ
5571,AGUILAR,BAZAN,MARLY YOHANA,-0.243329,NaN,AGUILAR BAZAN MARLY YOHANA,MARLY YOHANA AGUILAR BAZAN
5724,SANTILLAN,TUESTA,JUAN CARLOS,0.088814,NaN,SANTILLAN TUESTA JUAN CARLOS,JUAN CARLOS SANTILLAN TUESTA
5845,BASAGOITIA,CARDENAS,JONATAN ORLANDO,0.291353,NaN,BASAGOITIA CARDENAS JONATAN ORLANDO,JONATAN ORLANDO BASAGOITIA CARDENAS

In [14]:
# Optionally, calculate the number of NaN values in each column
nan_values_per_column = juez_df.isna().sum()

# Print the number of NaN values per column
print("Number of NaN values per column:")
print(nan_values_per_column)

Number of NaN values per column:
ApellidoPaterno                 0
ApellidoMaterno                 0
Nombres                         0
bs_iat_score                    0
en_iat_score                   61
participant_apellido_nombre     0
participant_nombre_apellido     0
dtype: int64

In [15]:
cargo_counts = lab_data['Cargo'].value_counts()
cargo_counts

          5694
FISCAL     675
JUEZ       305
AUX        197
ASIS       193
Name: Cargo, dtype: int64

In [16]:
jueces = pd.read_csv(r"D:\Proyectos\amag\data_cleaned_test\temp\judges_2018.csv")
jueces

     Unnamed: 0                                     0
0             0  SANTISTEBAN VALENZUELA AILLENY ADELA
1             1           ROBLES TORRES HIBETH LEGNNY
2             2          RETUERTO TUEROS BESSI YOHANA
3             3               MENDOZA ASENCIOS WILBER
4             4       HUERTA BOJORQUEZ CARMEN EUGENIA
..          ...                                   ...
974         974            KATHERINE LA ROSA CASTILLO
975         975         VITERI VALIENTE YESSICA PAOLA
976         976      YOLANDA PETRONILA CAMPOS  SOTELO
977         977      DAVILA ARQUIÑIGO ROSARIO MARLENE
978         978                 OTÁROLA PAREDES MARÍA

[979 rows x 2 columns]

In [17]:
import pandas as pd
from fuzzywuzzy import fuzz

# Function to check for similarity
def check_similarity(value, comparison_list, threshold=90):
    for comparison_value in comparison_list:
        if fuzz.ratio(value, comparison_value) >= threshold:
            return True
    return False

# Get the list of values to compare against
comparison_list_apellido_nombre = juez_df['participant_apellido_nombre'].tolist()
comparison_list_nombre_apellido = juez_df['participant_nombre_apellido'].tolist()

# Check for similarities
similarities = []
for value in jueces['0']:
    if (check_similarity(value, comparison_list_apellido_nombre) or 
        check_similarity(value, comparison_list_nombre_apellido)):
        similarities.append(value)

# Print the matching observations
print("Matching Observations:")
print(similarities)

# Optionally, save the matching observations to a new file
matching_df = jueces[jueces['0'].isin(similarities)]
matching_df

Matching Observations:
['CARHUAPOMA GRANDA EDGARD JESUS', 'DE LA CRUZ PIZARRO JHENY VIRGINIA', 'MACHUCA ALIAGA ELDA MADAHITH', 'ASMAD CORCUERA MARCO ANTONIO', 'DE PAZ FLORES CARLOS ENRIQUE', 'TORRES CONTRERAS WILLIAM EDGARDO', 'CEPIDA GUERRERO IVAN', 'CAYLLAHUA PEÑA MAXIMO JAVIER', 'ARGUELLES VIZARRETA OSCAR', 'VIVANCO HUAMAN GLORIA TERESA', 'MEDRANO ALIAGA ANA PAULA', 'ESAU CHANCO CASTILLON', 'ROJAS LAZARO WILLIAM RAUL', 'GRAJEDA BASHUALDO MILAGROS MARILYN', 'ARIZABAL CALDERON RUSSY ELDA', 'AGUILAR BAZAN MARLY YOHANA', 'CHRISTIAN DAVID ROJAS MONGO', 'ROMAIN IGORT VIVIANO VALDEZ', 'DILMER IVAN MEZA CONISLLA']

     Unnamed: 0                                   0
109         109      CARHUAPOMA GRANDA EDGARD JESUS
145         145   DE LA CRUZ PIZARRO JHENY VIRGINIA
172         172        MACHUCA ALIAGA ELDA MADAHITH
181         181        ASMAD CORCUERA MARCO ANTONIO
233         233        DE PAZ FLORES CARLOS ENRIQUE
253         253    TORRES CONTRERAS WILLIAM EDGARDO
261         261                CEPIDA GUERRERO IVAN
301         301        CAYLLAHUA PEÑA MAXIMO JAVIER
319         319           ARGUELLES VIZARRETA OSCAR
352         352        VIVANCO HUAMAN GLORIA TERESA
385         385            MEDRANO ALIAGA ANA PAULA
401         401               ESAU CHANCO CASTILLON
535         535           ROJAS LAZARO WILLIAM RAUL
582         582  GRAJEDA BASHUALDO MILAGROS MARILYN
597         597        ARIZABAL CALDERON RUSSY ELDA
702         702          AGUILAR BAZAN MARLY YOHANA
720         720         CHRISTIAN DAVID ROJAS MONGO
775         775         ROMAIN IGORT VIVIANO VALDEZ
940         940           DILMER IVAN MEZA CONISLLA

In [18]:
def check_similarity(value, comparison_list, threshold=90):
    for comparison_value in comparison_list:
        if fuzz.ratio(value, comparison_value) >= threshold:
            return comparison_value
    return None

# Get the list of values to compare against
comparison_list_apellido_nombre = juez_df['participant_apellido_nombre'].tolist()
comparison_list_nombre_apellido = juez_df['participant_nombre_apellido'].tolist()

# Check for similarities and track the matching value
similarities = []
matching_values = []

for value in jueces['0']:
    match_apellido_nombre = check_similarity(value, comparison_list_apellido_nombre)
    match_nombre_apellido = check_similarity(value, comparison_list_nombre_apellido)
    
    if match_apellido_nombre:
        similarities.append(value)
        matching_values.append(match_apellido_nombre)
    elif match_nombre_apellido:
        similarities.append(value)
        matching_values.append(match_nombre_apellido)

# Create a new DataFrame with matching observations and the corresponding match
matching_df = jueces[jueces['0'].isin(similarities)].copy()
matching_df['amag_ii'] = matching_values
matching_df.rename(columns={'0': 'documents_amg'}, inplace=True)

matching_df

,Unnamed: 0,documents_amg,amag_ii
109,109,CARHUAPOMA GRANDA EDGARD JESUS,CARHUAPOMA GRANDA EDGARD JESUS
145,145,DE LA CRUZ PIZARRO JHENY VIRGINIA,DE LA CRUZ PIZARRO JHENY VIRGINIA
172,172,MACHUCA ALIAGA ELDA MADAHITH,MACHUCA ALIAGA ELDA MADAHITH
181,181,ASMAD CORCUERA MARCO ANTONIO,ASMAD CORCUERA MARCO ANTONIO
233,233,DE PAZ FLORES CARLOS ENRIQUE,DE PAZ FLORES CARLOS ENRIQUE
253,253,TORRES CONTRERAS WILLIAM EDGARDO,TORRES CONTRERAS WILLIAM EDGARDO
261,261,CEPIDA GUERRERO IVAN,CEPIDA GUERRERO IVAN
301,301,CAYLLAHUA PEÑA MAXIMO JAVIER,CAYLLAHUA PEÑA MAXIMO JAVIER
319,319,ARGUELLES VIZARRETA OSCAR,ARGÜELLES VIZARRETA OSCAR
352,352,VIVANCO HUAMAN GLORIA TERESA,VIVANCO HUAMAN GLORIA TERESA
385,385,MEDRANO ALIAGA ANA PAULA,MEDRANO ALIAGA ANA PAULA
401,401,ESAU CHANCO CASTILLON,ESAU CHANCO CASTILLON
535,535,ROJAS LAZARO WILLIAM RAUL,ROJAS LAZARO WILLIAM RAUL
582,582,GRAJEDA BASHUALDO MILAGROS MARILYN,GRAJEDA BASHUALDO MILAGROS MARILYN
597,597,ARIZABAL CALDERON RUSSY ELDA,ARIZABAL CALDERON RUSSY ELDA
702,702,AGUILAR BAZAN MARLY YOHANA,AGUILAR BAZAN MARLY YOHANA
720,720,CHRISTIAN DAVID ROJAS MONGO,CHRISTIAN DAVID ROJAS MONGO
775,775,ROMAIN IGORT VIVIANO VALDEZ,ROMAIN IGORT VIVIANO VALDEZ
940,940,DILMER IVAN MEZA CONISLLA,DILMER IVAN MEZA CONISLLA

In [19]:
matching_df.to_csv(r'D:\Proyectos\amag\matched_judges_2018_with_bs.csv', index = False)

In [20]:
documents_amag = pd.read_csv(r"D:\Proyectos\amag\data_cleaned_test\intermediate\documents_amag_clean_2021.csv")

In [22]:
documents_amag

,Unnamed: 0,expediente_n°_,organo_jurisdiccional_,distrito_judicial_,juez,especialista_legal_,fecha_de_inicio_,proceso_,observacion_,especialidad_,...,revoca2,nula2,confirma2,fundada,fundada_parte,infundada,vista,revoca,nula,confirma
0,0,00003-2021-0-0101-JP-CI-01,JUZGADO DE PAZ LETRADO - Leymebamba,AMAZONAS,ALDO FRANCISCO PISCOYA SOSA,ROJAS SILVA EDA,05/04/2021,UNICO DE EJECUCION,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,CIVIL,...,0,0,0,0,0,0,0,0,0,0
1,1,00003-2021-0-0101-JP-CI-01,JUZGADO DE PAZ LETRADO - Leymebamba,AMAZONAS,ALDO FRANCISCO PISCOYA SOSA,ROJAS SILVA EDA,05/04/2021,UNICO DE EJECUCION,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,CIVIL,...,0,0,0,0,0,0,0,0,0,0
2,2,00003-2021-0-0101-JP-CI-01,JUZGADO DE PAZ LETRADO - Leymebamba,AMAZONAS,ALDO FRANCISCO PISCOYA SOSA,ROJAS SILVA EDA,05/04/2021,UNICO DE EJECUCION,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,CIVIL,...,0,0,0,0,0,0,0,0,0,0
3,3,00003-2021-0-0101-JP-CI-01,JUZGADO DE PAZ LETRADO - Leymebamba,AMAZONAS,ALDO FRANCISCO PISCOYA SOSA,ROJAS SILVA EDA,05/04/2021,UNICO DE EJECUCION,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,CIVIL,...,0,0,0,0,0,0,0,0,0,0
4,4,00003-2021-0-0101-JP-CI-01,JUZGADO DE PAZ LETRADO - Leymebamba,AMAZONAS,ALDO FRANCISCO PISCOYA SOSA,ROJAS SILVA EDA,05/04/2021,UNICO DE EJECUCION,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,CIVIL,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256135,264351,00014-2021-0-3301-JR-LA-01,JUZGADO DE TRABAJO,PUENTE PIEDRA - VENTANILLA,POMA ALOSILLA NARDA KATHERINE,LINARES QUISPE JANETH,14/01/2021,ORDINARIO,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,LABORAL,...,0,0,0,0,0,0,0,0,0,0
256136,264352,00014-2021-0-3301-JR-LA-01,JUZGADO DE TRABAJO,PUENTE PIEDRA - VENTANILLA,POMA ALOSILLA NARDA KATHERINE,LINARES QUISPE JANETH,14/01/2021,ORDINARIO,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,LABORAL,...,0,0,0,0,0,0,0,0,0,0
256137,264353,00014-2021-0-3301-JR-LA-01,JUZGADO DE TRABAJO,PUENTE PIEDRA - VENTANILLA,POMA ALOSILLA NARDA KATHERINE,LINARES QUISPE JANETH,14/01/2021,ORDINARIO,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,LABORAL,...,0,0,0,0,0,0,0,0,0,0
256138,264354,00014-2021-0-3301-JR-LA-01,JUZGADO DE TRABAJO,PUENTE PIEDRA - VENTANILLA,POMA ALOSILLA NARDA KATHERINE,LINARES QUISPE JANETH,14/01/2021,ORDINARIO,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,LABORAL,...,0,0,0,0,0,0,0,0,0,0
256139,264355,00014-2021-0-3301-JR-LA-01,JUZGADO DE TRABAJO,PUENTE PIEDRA - VENTANILLA,POMA ALOSILLA NARDA KATHERINE,LINARES QUISPE JANETH,14/01/2021,ORDINARIO,\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t...,LABORAL,...,0,0,0,0,0,0,0,0,0,0

In [23]:
materia_counts = documents_amag['especialidad_'].value_counts()
materia_counts

LABORAL                   99237
FAMILIA CIVIL             76595
CIVIL                     40731
FAMILIA TUTELAR           35053
CONTENCIOSO ADM.           2982
COMERCIAL                   815
DERECHO CONSTITUCIONAL      727
Name: especialidad_, dtype: int64

In [25]:
materia_counts = documents_amag['materia_s_'].value_counts()
materia_counts

OBLIGACION DE DAR SUMA DE DINERO INICIADAS POR AFPS                  63266
ALIMENTOS                                                            46393
VIOLENCIA CONTRA LAS MUJERES Y LOS INTEGRANTES DEL GRUPO FAMILIAR    20115
OBLIGACION DE DAR SUMA DE DINERO                                     19210
VIOLENCIA FAMILIAR                                                   18938
                                                                     ...
RECONOCIMIENTO DE EXISTENCIA DE MENOR DE EDAD                            1
RECONOCIMIENTO DE EXISTENCIA                                             1
OTROS PROCESOS QUE POR COMPETENCIA, MATERIA Y MONTO SE TRAMI             1
DESIGNACION DE LIQUIDADORES                                              1
EJECUCION DE ACTA DE VIOLENCIA FAMILIAR                                  1
Name: materia_s_, Length: 378, dtype: int64

In [26]:
materia_counts = documents_amag['proceso_'].value_counts()
materia_counts

UNICO                         71715
EJECUCION                     70513
ESPECIAL LEY 30364            20112
SUMARISIMO                    17205
ABREVIADO                     14023
NO CONTENCIOSO                11695
UNICO DE EJECUCION            10886
ORDINARIO                     10818
ESPECIAL                      10143
CONOCIMIENTO                   4946
EJECUTIVO                      3868
CONSTITUCIONAL                 3310
URGENTE                        2608
CONTENCIOSO ADMINISTRATIVO     1940
INVESTIGACION TUTELAR          1341
EXHORTO                         491
CAUTELAR                        294
PROCEDIMIENTOS CIVILES           75
INVESTIGACION PENAL              70
EJECUCION DE GARANTIA            35
FALTAS                           11
INCAUTACION                      10
COACTIVO                          3
Name: proceso_, dtype: int64

In [24]:
columns = documents_amag.columns

# Display the columns
print(columns)

Index(['Unnamed: 0', 'expediente_n°_', 'organo_jurisdiccional_',
       'distrito_judicial_', 'juez', 'especialista_legal_', 'fecha_de_inicio_',
       'proceso_', 'observacion_', 'especialidad_', 'materia_s_', 'estado_',
       'etapa_procesal_', 'fecha_conclusion_', 'ubicacion_',
       'motivo_conclusion_', 'sumilla_', 'juez_splitted', 'n_judges_case',
       'link', 'date', 'resolucion_', 'tipo_de_notificacion_', 'acto_',
       'fojas_folios_', 'proveido_', 'descripcion_de_usuario_', 'descargado',
       'num', 'text', 'error', 'file_path', 'parte_resolutiva', 'appeal',
       'sentencia_acto', 'sentencia_sumilla', 'sentencia', 'auto_final',
       'auto_definitivo', 'auto_improcedente', 'vista2', 'revoca2', 'nula2',
       'confirma2', 'fundada', 'fundada_parte', 'infundada', 'vista', 'revoca',
       'nula', 'confirma'],
      dtype='object')

In [36]:
unique_judges = documents_amag['juez'].unique()

# Create a new DataFrame with the unique judge names
unique_judges_df = pd.DataFrame(unique_judges, columns=['juez'])
unique_judges_df

                                                  juez
0                          ALDO FRANCISCO PISCOYA SOSA
1                       ZABARBURU ROJAS RICHARD ARTURO
2                              CLODOMIRA OCAMPO VARGAS
3                              PILCO MASLUCAN MERCEDES
4                       DORA CARMELA AMPUERO BARRANTES
..                                                 ...
870                       CASTILLA MALCA LUIS HUMBERTO
871                   DAVILA ARQUIÑIGO ROSARIO MARLENE
872                      VITERI VALIENTE YESSICA PAOLA
873                         KATHERINE LA ROSA CASTILLO
874  GARCIA MATALLANA ERWIN MAXIMILIANO. ZUÑIGA HER...

[875 rows x 1 columns]

In [39]:
def check_similarity(value, comparison_list, threshold=90):
    for comparison_value in comparison_list:
        if fuzz.ratio(value, comparison_value) >= threshold:
            return comparison_value
    return None

# Get the list of values to compare against
comparison_list_apellido_nombre = juez_df['participant_apellido_nombre'].tolist()
comparison_list_nombre_apellido = juez_df['participant_nombre_apellido'].tolist()

# Check for similarities and track the matching value
similarities = []
matching_values = []

for value in unique_judges_df['juez']:
    match_apellido_nombre = check_similarity(value, comparison_list_apellido_nombre)
    match_nombre_apellido = check_similarity(value, comparison_list_nombre_apellido)
    
    if match_apellido_nombre:
        similarities.append(value)
        matching_values.append(match_apellido_nombre)
    elif match_nombre_apellido:
        similarities.append(value)
        matching_values.append(match_nombre_apellido)

# Create a new DataFrame with matching observations and the corresponding match
matching_df = unique_judges_df[unique_judges_df['juez'].isin(similarities)].copy()
matching_df['amag_ii'] = matching_values
matching_df['bs_iat_score'] = unique_judges_df['bs_iat_score'] 

matching_df.rename(columns={'juez': 'documents_amg'}, inplace=True)

matching_df

KeyError: 'bs_iat_score'

In [28]:
matching_df.to_csv(r'D:\Proyectos\amag\matched_judges_2021.csv', index = False)